<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web(TEMPESTSTUDIO)</title>

   <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

    <h1>ASCII Art Web(TEMPESTSTUDIO)</h1>

    <form action="/ascii-art" method="POST">

        <label for="text"><strong>Enter Text</strong></label>

        <br><br>

        <textarea
            id="text"
            name="text"
            placeholder="Type your text here...">{{.Text}}</textarea>

        <div class="banner-group">

            <strong>Select Banner</strong>

            <br><br>

            <label>
                <input
                    type="radio"
                    name="banner"
                    value="standard"
                    {{if eq .Banner "standard"}}checked{{end}}>
                Standard
            </label>

            <label>
                <input
                    type="radio"
                    name="banner"
                    value="shadow"
                    {{if eq .Banner "shadow"}}checked{{end}}>
                Shadow
            </label>

            <label>
                <input
                    type="radio"
                    name="banner"
                    value="thinkertoy"
                    {{if eq .Banner "thinkertoy"}}checked{{end}}>
                Thinkertoy
            </label>

        </div>

        <button type="submit">
            Generate ASCII Art
        </button>

    </form>

    {{if .Error}}

    <div class="error">
        {{.Error}}
    </div>

    {{end}}

    {{if .Result}}

    <div class="result">

        <h2>ASCII Art Result(TEMPESTSTUDIO)</h2>

        <pre>{{.Result}}</pre>
        <form action="/download" method="POST">

<input
type="hidden"
name="ascii"
value="{{.Result}}">

<button>

Download

</button>

</form>

    </div>

    {{end}}

</div>

</body>

</html>